@media (min-width: 992px) {
    .fixed {
        position: fixed;
    }
}

.container h1,
.container h2,
.container h3,
.container h4,
.container h5,
.container h6 {
    font-family: "Syncopate Bold";
}

.container .title-1 {
    margin-left: -10px;
    line-height: .85;
}
.container .title-2 {
    line-height: .7;
}

.links {
    margin-top: 50px;
    margin-bottom: 50px
}